/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #343a40;
}
/* Container */
#state-Container {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}
#gameContainer {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 10px;
}
.card {
  position: relative;
  cursor: pointer;
}
.card-cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#state-Container {
  color: #fff;
  font-size: 2rem;
  align-self: flex-start;
}